/*! grunt-project - v1.5.0 - 2016-08-26 */

body {
  text-align: left;
}



/* CSS is cool */





div {
  font-family: Roboto;
}


/*--------Next File-------*/

* {
  text-align: right;
}



/**
Headers
*/

h2 {
  font-family: Arial;
}


/*------Mohammad Esfandiari---------*/